/*---------------------------------------------------*/
/*XL*/
/*---------------------------------------------------*/

@media only screen and (max-width:1200px) {
    .hero-text-box {
        width: 100%;
        padding: 0 2%;
    }

    .row {
        padding: 0 2%;
    }

    .main-nav {
        display: block;
    }
}

/*---------------------------------------------------*/
/*LARGE*/
/*---------------------------------------------------*/

@media only screen and (max-width:1023px) {
    body {
        font-size: 18px;
    }

    header {
        background-image: linear-gradient(rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70)), url(img/hero.jpg);
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        height: 70vh;
    }

    .hero-text-box {
        flex-wrap: wrap;
        height: 50vh;
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: center;
        justify-content: center;
    }

    section {
        padding: 60px 0;
    }

    .long-copy {
        width: 100%;
        margin: 0 auto;
    }

    .steps-box {
        margin-top: 2px;
    }

    .steps:last-of-type {
        margin-bottom: 10px;
    }

    .app-screen {
        width: 50%;
        float: right;
        margin-right: 5%;
    }

    .app-button img {
        height: 42px;
        display: inline-block;
        width: auto;
        margin: 2px;
        float: left;
    }

    .icon-small {
        width: 10px;
        margin-right: 3px;
    }

    .city-features {
        font-size: 90%;
    }

    .section-plans {
    }

    .plans {
        margin: 0 auto;
        width: 100%;
    }

    .plan-price {
        font-size: 250%;
    }

    .section-form {
        width: 100%;
    }

    .footer-nav {
        width: 100%;
        font-size: 3px;
    }
}

/*---------------------------------------------------*/
/*SMALL*/
/*---------------------------------------------------*/

@media only screen and (max-width:767px) {
    body {
        font-size: 17px;
    }

    section {
        padding: 30px 0;
    }

    .row {
        padding: 0;
    }

    .col {
        width: 100%;
        margin: 0 0 4% 0;
    }

    .app-screen {
        width: 20%;
        float: right;
        margin-right: 36.3%;
    }

    .main-nav {
        display: none;
    }

    .navmobileicon {
        display: inline-block;
    }

    .main-nav {
        float: left;
        margin-top: 15px;
        margin-left: 25px;
    }

        .main-nav li {
            display: block;
        }

            .main-nav li a:link, main-nav li a:visited {
                display: block;
                border: 0;
                padding: 5px 0;
            }

    .docked main-nav {
        margin-top: 10px;
    }

    .docked li a:link, .docked li a:visited {
        padding: 10px 0;
    }

    .docked .navmobileicon {
        margin-top: 10px;
        margin-right: 10px;
    }

        .docked .navmobileicon i {
            color: #555;
        }


    .long-copy {
        width: 100%;
        margin: 2%;
    }

    .app-button img {
        height: 42px;
        display: inline-block;
        width: auto;
        margin-top: 5%;
        float: left;
    }

    .plans {
        border-radius: 0px;
        margin: 0 auto;
        width: 100%;
    }

    .section-form {
        margin: 0;
    }

    cite {
        margin: 5px;
    }
}

/*---------------------------------------------------*/
/*XS*/
/*---------------------------------------------------*/

@media only screen and (max-width:480px) {
    .row {
        padding: 0;
    }

    .col {
        width: 100%;
        margin: 0 0 4% 0;
    }

    h1 {
        font-size: 160%;
    }

    .logo {
        height: 50px;
        width: auto;
        float: left;
        margin-top: 20px;
        margin-left:5px;
    }

        .logo-b {
        margin-left:5px;
    }

    header {
        background-image: linear-gradient(rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70)), url(img/hero.jpg);
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        height: 50vh;
    }

    .hero-text-box {
        flex-wrap: wrap;
        height: 40vh;
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: center;
        justify-content: center;
    }

    .steps div {
    color:#e67e22;
    border: 2px solid #e67e22;
    display:inline-block;
    border-radius:50%;
    height: 36px;
    width: 36px;
    text-align:center;
    padding: 10px;
    float:left;
    font-size:13px;
    margin-right: 25px;
}


}
